@import "components/MyWord";

.my-words-page {
  .content {
    .body {
      .wrapper {
        border: 1px solid #34352d;

        .circled-word {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
