.help-section {
  min-height: 100vh;

  .section-title {
    color: #ffa260;
  }

  .accordion-wrapper {
    .accordion {
      .accordion-item {
        border: solid 4px #f1f2f2;
        background: none;

        &:not(:first-of-type) {
          border-top: 0;
        }

        .accordion-header {
          .accordion-button {
            color: #f1f2f2;
            background: none;
            font-size: 16px;

            @include media-breakpoint-up(lg) {
              font-size: 21px;
            }
          }
        }

        .accordion-collapse {
          .accordion-body {
            color: #ffb229;

            $accordion-icon-color: red;
          }
        }
      }
    }
  }
}
