.roadmap {
  .indicator {
    font-size: 14px;
    color: $primary;
  }

  .version {
    color: $primary;
  }

  .image-wrapper {
    border: solid 1px #34352d;
    border-radius: 4px;
  }

  .changes {
    font-size: 18px;
    list-style: none;

    @include media-breakpoint-up(md) {
      font-size: 21px;
    }
  }
}
