.roadmap-page {
  .content {
    .body {
      .wrapper {
        @include media-breakpoint-up(md) {
          border: 1px solid #34352d;
          border-radius: 4px;
        }

        .roadmap-item {
          @include media-breakpoint-down(md) {
            padding: 0 !important;
          }

          .roadmap-item-wrapper {
            border: 1px solid #34352d;
            border-radius: 4px;
          }
        }
      }
    }
  }

  .indicator {
    font-size: 14px;
    color: $primary;
  }

  .version {
    color: $primary;
  }

  .image-wrapper {
    border: solid 1px #34352d;
    border-radius: 4px;
  }

  .changes {
    font-size: 18px;
    list-style: none;

    @include media-breakpoint-up(md) {
      font-size: 21px;
    }
  }
}
