.homepage {
  .section-title {
    font-size: 36px;

    @include media-breakpoint-up(xl) {
      font-size: 48px;
    }
  }

  .help-description {
    font-size: 21px;
    color: #f1f2f2;

    &.disabled {
      color: #51524b;

      a {
        color: #51524b;
      }
    }

    a {
      color: #f1f2f2;
    }
  }

  @import "@/components/Home/Slogan.scss";
  @import "@/components/Home/Description.scss";
  @import "@/components/Home/Stats.scss";
  @import "@/components/Home/Benefits.scss";
  @import "@/components/Home/Help.scss";
}
