.benefits-section {
  .section-title {
    color: #FF7F82;
  }

  .benefit-item {
    padding: 26px 36px;
    border: solid 4px #FFB229;
    border-radius: 4px;

    .benefit-description {
      color: #F1F2F2;
      font-size: 16px;

      @include media-breakpoint-up(xl) {
        font-size: 21px;
      }
    }
  }
}
