header .navbar .navbar-brand {
    font-size: 26px;
}

header .navbar .navbar-brand .logo-primary-text {
    color: #FFB229;
}

header .navbar .navbar-brand .logo-secondary-text {
    color: #B97A2A;
}

header .navbar .navbar-nav .nav-item a {
    font-size: 16px;
    color: #F1F2F2;
}

header .navbar .navbar-nav .nav-item.connect-wallet-link .nav-link {
    border: solid 4px #FFB229;
    background: none;
    color: #FFB229;
}

header .navbar .navbar-nav .nav-item.connect-wallet-link .nav-link {
    transition: 0.3s;
}

header .navbar .navbar-nav .nav-item.connect-wallet-link .nav-link:hover {
    box-shadow: inset 0 0 0 2em #FFB229;
    color: #17181C;
}

header .navbar .navbar-nav .nav-item.connect-wallet-link.logged-in .nav-link {
    border-color: #B97A2A;
    color: #B97A2A;
}