.circled-word {
  @include circled-word(1);

  border: solid 4px var(--border-color);
  transition: var(--animation-duration);

  &.disabled {
    pointer-events: none;
  }

  &.fill-in {
    color: var(--text-color);

    &.hover,
    &:not(.clickable):hover {
      box-shadow:
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color),
        inset 0 0 0 2em var(--background-color);
      color: var(--second-text-color);
      border-color: var(--second-border-color);
    }
  }
}
