.circled-word {
  border: solid 4px var(--border-color);
  padding: 38px 47px;
  font-size: 32px;
  transition: var(--animation-duration);

  &.disabled {
    pointer-events: none;
  }

  &.fill {
    color: var(--text-color);

    &.hover, &:hover {
      box-shadow: inset 0 0 0 2em var(--background-color);
      color: var(--second-text-color);
    }
  }
}
