.modal {
  .modal-dialog {
    max-width: 650px;

    .modal-content {
      background-color: #17181c;
      border: solid 1px #51524b;
      border-radius: 4px;
      width: 92%;

      @include media-breakpoint-up(md) {
        width: 100%;
      }

      .modal-header {
        border: none;

        .modal-title {
          font-size: 26px;
          color: #f1f2f2;
        }
      }

      .modal-body {
        .blockchain-wrapper {
          .wallet-links-wrapper {
            border: solid 1px #51524b;
            border-radius: 4px;

            .blockchain-title {
              font-size: 18px;

              &.solana {
                color: #f1f2f2;
              }
            }

            .wallet-link {
              border: solid 1px #51524b;
              border-radius: 4px;
              max-width: 340px;
              text-decoration: none;
              color: #f1f2f2;
              transition: 0.2s;

              @include media-breakpoint-up(md) {
                padding: 0;
                width: 100%;
              }

              .wallet-loader {
                background-color: rgb(0 0 0 / 70%);
              }

              .image-wrapper {
                width: 80px;

                img {
                  height: 50px;

                  @include media-breakpoint-up(md) {
                    height: 90px;
                  }
                }
              }

              &:hover {
                background-color: #34352d;
              }

              &.disabled {
                opacity: 0.4;

                &:hover {
                  background-color: unset;
                }
              }

              .wallet-network-error-background {
                background-color: #34352d;
                opacity: 0.8;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
              }

              .wallet-network-error {
                min-width: 278px;
                color: #ffb229;
                z-index: 2;
              }
            }
          }
        }
      }

      .modal-footer {
        border: none;

        & button {
          transition: 0.3s;
          border: solid 4px #ffb229;
          background-color: transparent;
          color: #ffb229;
          border-radius: 4px;

          &:hover {
            box-shadow: inset 0 0 0 2em #ffb229;
            color: #000;
          }
        }
      }
    }
  }
}
