footer {
  border-top: solid 1px #34352d;
  color: #f1f2f2;

  .partners {
    p {
      top: -15px;
      font-size: 10px;
      color: $black-haze;

      @include media-breakpoint-up(md) {
        top: -11px;
      }
    }
  }

  .network {
    color: $secondary;
    font-size: 12px;
    top: 0;
    right: -42px;

    @include media-breakpoint-up(sm) {
      top: 15px;
      right: unset;
      left: -42px;
    }

    @include media-breakpoint-up(lg) {
      right: -42px;
      left: unset;
    }
  }
}
