footer {
  border-top: solid 1px #34352d;
  color: #f1f2f2;

  .partners {
    p {
      top: -15px;
      font-size: 10px;
      color: $black-haze;

      @include media-breakpoint-up(md) {
        top: -11px;
      }
    }
  }
}
