header {
  z-index: 1;

  .navbar {
    .navbar-brand {
      font-size: 26px;

      .logo-primary-text {
        color: #ffb229;
      }

      .logo-secondary-text {
        color: #b97a2a;
      }
    }

    .navbar-nav {
      .nav-item {
        a {
          font-size: 16px;
          color: #f1f2f2;
        }

        .nav-link {
          transition: 0.3s;

          &.disabled {
            color: #51524b;
          }

          &:focus {
            color: #f1f2f2;
          }

          &.router-link-active {
            border-bottom: solid 2px #ffb229;
          }
        }

        &.connect-wallet-link {
          .nav-link {
            border: solid 4px #ffb229;
            background: none;
            color: #ffb229;
            border-radius: 4px;

            &:hover {
              box-shadow: inset 0 0 0 2em #ffb229;
              color: #17181c;
            }

            &.logged-in {
              border-color: #dc962a;
              color: #dc962a;

              &:hover {
                box-shadow: inset 0 0 0 2em #dc962a;
                color: #17181c;
              }
            }
          }
        }
      }
    }
  }
}
