header {
  z-index: 1;

  .navbar {
    .navbar-wrapper {
      .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        background: #17181c;

        @include media-breakpoint-up(sm) {
          position: relative;
        }

        .navbar-toggler {
          position: absolute;
          height: 64px;
          width: 100%;

          .navbar-toggler-icon {
            background-image: url("@/assets/images/close.svg");
          }
        }

        .navbar-nav {
          height: 100vh;
          width: 100vw;

          @include media-breakpoint-up(sm) {
            height: unset;
            width: unset;
          }

          .nav-item {
            a {
              font-size: 16px;
              color: #f1f2f2;
            }

            .nav-link {
              transition: 0.3s;

              &.disabled {
                color: #51524b;
              }

              &:focus {
                color: #f1f2f2;
              }

              &.router-link-active {
                border-bottom: solid 2px #ffb229;
              }
            }
          }
        }
      }

      .navbar-brand {
        font-size: 21px;

        img {
          height: 21px;

          @include media-breakpoint-up(sm) {
            height: unset;
          }
        }

        @include media-breakpoint-up(sm) {
          font-size: 26px;
        }

        .logo-primary-text {
          color: #ffb229;
        }

        .logo-secondary-text {
          color: #b97a2a;
        }

        .logo-sub-text {
          font-size: 12px;
          color: #f1f2f2;
          bottom: 0;
          left: 158px;

          @include media-breakpoint-up(sm) {
            left: 190px;
          }
        }
      }

      .social-links {
        list-style: none;

        .social-link {
          width: 26px;
          height: 26px;
        }

        li a img {
          width: 26px;
          height: 26px;
        }
      }

      .connect-wallet-link {
        button {
          transition: 0.3s;
          border: solid 4px #ffb229;
          background: none;
          color: #ffb229;
          border-radius: 4px;

          &:hover {
            box-shadow: inset 0 0 0 2em #ffb229;
            color: #17181c;
          }

          &.logged-in {
            border-color: #dc962a;
            color: #dc962a;

            &:hover {
              box-shadow: inset 0 0 0 2em #dc962a;
              color: #17181c;
            }
          }
        }
      }
    }
  }
}
