.modal {
  .modal-dialog {
    .modal-content {
      background-color: #17181c;
      border: solid 4px #f1f2f2;
      border-radius: 4px;
      padding-bottom: 50px;

      .modal-header {
        border: none;

        .modal-title {
          font-size: 26px;
          color: #f1f2f2;
        }
      }

      .modal-body {
        .wallet-link {
          border: solid 4px #ffb229;
          border-radius: 4px;
          max-width: 340px;
          padding: 0 80px 20px;
          text-decoration: none;
          color: #f1f2f2;
          transition: 0.2s;

          &:hover {
            background-color: #34352d;
          }

          &.disabled:hover {
            background-color: unset;
          }

          .wallet-network-error-background {
            background-color: #34352d;
            opacity: 0.8;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
          }

          .wallet-network-error {
            min-width: 278px;
            color: #ffb229;
            z-index: 2;
          }
        }
      }
    }
  }
}
