.sample-word {
  .sample-word-name {
    font-size: 26px;
    color: #51524B;

    .primary {
      color: #ffb229;
    }

    .secondary {
      color: #B97A2A;
    }
  }

  .circled-word {
    width: 100%;
    padding: 17px 0 !important;
    border-radius: 6px;
  }

  .sample-word-property-name {
    font-size: 18px;
  }

  .sample-word-adventure-text {
    color: #ffb229;
    font-size: 16px;
  }
}
