.new-circled {
  width: 1080px !important;
  height: 520px !important;
  border-width: 20px !important;
  display: flex !important;
  border-radius: 30px !important;
  font-size: 160px !important;
  justify-content: center !important;
  align-items: center !important;
}

.title {
  font-size: 40px;
  margin-bottom: 60px;

  .primary-text {
    color: #ffb229;
  }

  .secondary-text {
    color: #b97a2a;
  }
}

.create-circled {
  .button-field {
    background-color: #51524b;

    .field-name,
    .field-type {
      color: #fff;
      font-size: 13px;

      @include media-breakpoint-up(md) {
        font-size: 20px;
      }
    }

    .field-type {
      outline: none;
      background-color: #34352d;
      border: none;
      width: 60px;
      padding: 5px 0;
      transition: all 0.3s ease;

      @include media-breakpoint-up(md) {
        width: 125px;
      }

      @include media-breakpoint-up(lg) {
        width: 175px;
      }

      &.select-type {
        appearance: none;
        cursor: pointer;
      }

      &:hover,
      &:focus {
        box-shadow: inset 0 0 0 1px #b97a2a;
      }
    }

    .number-input {
      & input[type="number"]::-webkit-outer-spin-button,
      & input[type="number"]::-webkit-inner-spin-button {
        appearance: none;
      }

      & input[type="number"] {
        appearance: textfield;
      }

      & button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 5px;
          height: 1px;
          background-color: #b97a2a;
          transform: translate(-50%, -50%);

          @include media-breakpoint-up(sm) {
            width: 7px;
            height: 2px;
          }

          @include media-breakpoint-up(md) {
            width: 15px;
            height: 3px;
          }
        }

        &.plus::after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }
}
