.create-word-page {
  .content {
    .body {
      .wrapper {
        border: solid 1px #34352d;
        border-radius: 4px;

        .circled-preview {
          flex: 1;

          .circled-word {
            @include circled-word(1.4);

            @include media-breakpoint-up(md) {
              @include circled-word(1.5);
            }

            @include media-breakpoint-up(md) {
              @include circled-word(1.7);
            }

            @include media-breakpoint-up(lg) {
              @include circled-word(1.7);
            }

            @include media-breakpoint-up(xl) {
              @include circled-word(2);
            }

            @include media-breakpoint-up(xxl) {
              @include circled-word(2.5);
            }
          }

          @include media-breakpoint-up(md) {
            flex: unset;
          }
        }

        .circled-tabs {
          flex: 2;

          .tabs-wrapper {
            border: solid 1px #34352d;
            border-radius: 4px;

            .tab-header {
              .tab-link {
                font-size: 16px;
                border-bottom: solid 1px #34352d;

                &.active {
                  z-index: -1;
                  border-radius: 4px;
                  box-shadow: rgba(255, 178, 41, 0.2) 0 0 15px;
                  background: #34352d;
                }
              }
            }

            .tab-content {
              .properties {
                .level {
                  font-size: 18px;
                }
              }
            }
          }

          @include media-breakpoint-up(md) {
            flex: unset;
          }
        }

        .circled-actions {
          flex: 1;

          @include media-breakpoint-up(md) {
            flex: unset;
          }
        }
      }
    }
  }
}
