.new-circled {
  width: 1080px !important;
  height: 520px !important;
  border-width: 20px !important;
  display: flex !important;
  border-radius: 30px !important;
  font-size: 160px !important;
  justify-content: center !important;
  align-items: center !important;
}
