.my-word-preview {
  border: 1px solid #34352d;
  border-radius: 4px;

  .my-word-wrapper {
    &:first-child {
      border-bottom: 1px solid #34352d;

      @include media-breakpoint-up(sm) {
        border-bottom: none;
      }
    }

    .button-title {
      font-size: 18px;
      color: $primary;
      border-radius: 4px;
      padding: 10px 0;
      border: solid 1px $primary;
    }

    &.not-verified {
      .button-title {
        color: $secondary;
        border-color: $secondary;
      }

      .circled-wrapper {
        opacity: 0.3;

        a {
          cursor: default;
        }
      }
    }
  }

  .actions {
    a {
      border-radius: 4px;
      font-size: 16px;
      border: 1px solid #34352d;
      color: #ffffff;
      padding: 10px 0;

      &.disabled {
        box-shadow: unset;
        background: none;
        border: 1px solid #51524b;
        color: #51524b;
        cursor: default;
      }
    }
  }
}
