.button-item {
  border: solid 1px #34352d;
  border-radius: 4px;

  .button-title {
    font-size: 28px;
    color: #51524b;

    .primary {
      color: #ffb229;
    }

    .secondary {
      color: #b97a2a;
    }
  }
}
