body {
  background-color: #17181c;
  color: $black-haze;
  font-family: Alata, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page {
  flex: 1;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 28px;

  @include media-breakpoint-up(md) {
    font-size: 36px;
  }
}

h4 {
  font-size: 24px;

  @include media-breakpoint-up(md) {
    font-size: 28px;
  }
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 14px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

p {
  font-size: 21px;
}

a {
  text-decoration: none;
}
