body {
  background-color: #17181c;
  color: #d6d7cf;
  font-family: Alata, sans-serif;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 21px;
}

a {
  text-decoration: none;
}
