// Colors.
$my-sin: #ffb229;
$marigold: #b97a2a;
$golden-grass: #dc962a;
$fuscous-gray: #51524b;
$heavy-metal: #34352d;
$celeste: #d6d7cf;
$black-haze: #f1f2f2;
$primary: $my-sin;
$secondary: $marigold;
$accordion-icon-color: $black-haze;
$accordion-icon-active-color: $celeste;
