.stats-section {
  min-height: 100vh;

  .section-title {
    color: #ff7f82;
  }

  .stat-item-wrapper {
    .stat-item {
      padding: 26px 36px;
      border: solid 1px $heavy-metal;
      border-radius: 4px;

      .stat-value {
        color: #ffb229;
        font-size: 36px;

        @include media-breakpoint-up(xl) {
          font-size: 48px;
        }
      }

      .stat-title {
        color: #dc962a;
        font-size: 21px;

        @include media-breakpoint-up(xl) {
          font-size: 26px;
        }
      }

      .stat-description {
        color: #b97a2a;
        font-size: 16px;
      }
    }
  }
}
