@import "components/SampleWord";

.description-section {
  color: #96c;

  .section-title {
    border-bottom: solid 4px;
    border-left: solid 4px;
    padding-left: 15px;
    padding-bottom: 10px;
  }

  .sample-words {
    .sample-word-wrapper {
      .sample-word-item {
        border: solid 1px $heavy-metal;
        border-radius: 4px;
      }

      &:last-child {
        .row {
          justify-content: center;

          @include media-breakpoint-up(md) {
            margin-top: 30px;
          }

          @include media-breakpoint-up(xl) {
            margin-top: unset;
            justify-content: unset;
          }
        }
      }
    }
  }
}
