.description-section {
  height: 100vh;

  .section-title {
    color: #96c;
    border-bottom: solid 4px;
    border-left: solid 4px;
    padding-left: 15px;
    padding-bottom: 10px;
  }

  ul {
    font-size: 16px;

    @include media-breakpoint-up(md) {
      font-size: 18px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 21px;
    }
  }
}
